

<!-- Recent candidate start -->
<div class="col-md-6 col-xl-12">
  <app-card [title]="'Brands'" [cardClass]="'recent-candidate-card'" [blockClass]="'p-t-0 p-b-0'">

    <button type="submit" class="btn btn-primary" (click)="createBrand($event)">Add New Brand</button>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Brand Name</th>
          <!--<th>Brand Notes</th>-->
          <th>Status</th>
          <th>Created</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody *ngFor="let brand of brands | paginate: { itemsPerPage: 5, currentPage: p }">

        <tr>
          <td>
            <i class="icofont icofont-crown text-c-black f-16"></i>
            <p class="m-l-10 d-inline-block f-w-600">{{brand.brandName}}</p>
          </td>
          <!--<td>-->
            <!--<i class="icofont icofont-site-map text-c-black f-16"></i>-->
            <!--<p class="m-l-10 d-inline-block f-w-600">{{brand.categoryId}}</p>-->
          <!--</td>-->
          <!--<td>-->
            <!--<i class="icofont icofont-notepad text-c-green f-16"></i>-->
            <!--<p class="m-l-10 d-inline-block f-w-600">{{brand.brandNotes}}</p>-->
          <!--</td>-->
          <td>
            <i class="icofont icofont-clock-time text-c-green f-16"></i>
            <p class="m-l-10 d-inline-block f-w-600" *ngIf="brand.status == 1">Active</p>
            <p class="m-l-10 d-inline-block f-w-600" *ngIf="brand.status == 2">Inactive</p>
          </td>
          <td>
            <p class="f-w-600"><i class="icofont icofont-data"></i> {{brand.created | date:'shortDate'}}</p>
          </td>
          <td>

            <a href="javascript:" (click)="updateBrand(brand)" data-toggle="tooltip" title="Edit">
              <i class="icofont icofont-ui-edit text-c-blue f-16"></i></a>

            <a href="javascript:" (click)="deleteBrand(brand)" data-toggle="tooltip" title="Remove">
              <i class="icofont icofont-ui-delete text-c-pink f-16 m-l-10"></i></a>

          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </app-card>


</div>




