<!-- Recent candidate start -->
<div class="col-md-6 col-xl-12">
  <app-card [title]="'Warehouse'" [cardClass]="'recent-candidate-card'" [blockClass]="'p-t-0 p-b-0'">

    <button type="submit" class="btn btn-primary" (click)="createWarehouse($event)">Add New Warehouse</button>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Warehouse Name</th>
          <th>Status</th>
          <th>Created</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody *ngFor="let warehouse of warehouses | paginate: { itemsPerPage: 5, currentPage: p }">

        <tr>
          <td>
            <i class="icofont icofont-crown text-c-black f-16"></i>
            <p class="m-l-10 d-inline-block f-w-600">{{warehouse.warehouseName}}</p>
          </td>
          <td>
            <i class="icofont icofont-clock-time text-c-green f-16"></i>
            <p class="m-l-10 d-inline-block f-w-600" *ngIf="warehouse.status == 1">Active</p>
            <p class="m-l-10 d-inline-block f-w-600" *ngIf="warehouse.status == 2">Inactive</p>
          </td>
          <td>
            <p class="f-w-600"><i class="icofont icofont-data"></i> {{warehouse.created | date:'shortDate'}}</p>
          </td>
          <td>

            <a href="javascript:" (click)="updateWarehouse(warehouse)" data-toggle="tooltip" title="Edit">
              <i class="icofont icofont-ui-edit text-c-blue f-16"></i></a>

            <a href="javascript:" (click)="deleteWarehouse(warehouse)"  data-toggle="tooltip" title="Remove">
              <i class="icofont icofont-ui-delete text-c-pink f-16 m-l-10"></i></a>

          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </app-card>


</div>




