<!-- Recent candidate start -->
<div class="col-md-6 col-xl-12">
  <app-card [title]="'Users'" [cardClass]="'recent-candidate-card'" [blockClass]="'p-t-0 p-b-0'">

    <button type="submit" class="btn btn-primary" (click)="createUser($event)">Add New User</button>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>FirstName</th>
          <th>Email</th>
          <th>Status</th>
          <th>Role</th>
          <th>Created</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: p }">

        <tr>
          <td>
            <div class="recent-contain">
              <h6>{{user.firstName}}</h6>
              <p>{{user.lastName}}</p>
            </div>
          </td>
          <td>
            <i class="icofont icofont-email text-c-blue f-16"></i>
            <p class="m-l-10 d-inline-block f-w-600">{{user.email}}</p>
          </td>
          <td>
            <i class="icofont icofont-clock-time text-c-green f-16"></i>
            <p class="m-l-10 d-inline-block f-w-600" *ngIf="user.status == 1">Active</p>
            <p class="m-l-10 d-inline-block f-w-600" *ngIf="user.status == 2">Inactive</p>
          </td>
          <td>
            <i class="icofont icofont-tags text-c-yellow f-16"></i>
            <p class="m-l-10 d-inline-block f-w-600" *ngIf="user.userType == 1">User</p>
            <p class="m-l-10 d-inline-block f-w-600" *ngIf="user.userType == 2">Admin</p>
            <p class="m-l-10 d-inline-block f-w-600" *ngIf="user.userType == 3">Super Admin</p>
          </td>
          <td>
            <p class="f-w-600"><i class="icofont icofont-data"></i> {{user.created | date:'shortDate'}}</p>
          </td>
          <td>
            <a href="javascript:" (click)="viewUser(user)" data-toggle="tooltip" title="View">
              <i class="icofont icofont-eye-alt text-c-green f-16"></i></a>
            <span>&nbsp;</span>
            <a href="javascript:" (click)="doUpdate(user)" data-toggle="tooltip" title="Edit">
              <i class="icofont icofont-ui-edit text-c-blue f-16"></i></a>

            <a href="javascript:" (click)="doDelete(user)" data-toggle="tooltip" title="Remove">
            <i class="icofont icofont-ui-delete text-c-pink f-16 m-l-10"></i></a>

          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </app-card>


</div>




