
<div class="col-md-6 col-xl-12">
  <app-card [title]="'Inventory'" [cardClass]="'recent-candidate-card'" [blockClass]="'p-t-0 p-b-0'">

    <button type="submit" class="btn btn-primary" (click)="createInventory($event)">Add Inventory</button>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Inventory#</th>
          <th>Batch#</th>
          <th>Item Name</th>
          <th>Total Piece</th>
          <th>Date</th>
          <th>Total Price Rs</th>
          <th>Status</th>

          <th>Created</th>
          <th>Actions</th>
        </tr>
        </thead>

        <tbody *ngFor="let inventory of inventories | paginate: { itemsPerPage: 5, currentPage: p }">

        <td>
          <i class="icofont text-c-black f-16"></i>
          <p class="m-l-10 d-inline-block f-w-600">{{inventory.inventoryNumber}}</p>
        </td>

        <td>
          <i class="icofont text-c-black f-16"></i>
          <p class="m-l-10 d-inline-block f-w-600">{{inventory.batchNumber}}</p>
        </td>

        <td>
          <i class="icofont text-c-black f-16" ></i>

          <ul class="m-l-10 d-inline-block f-w-600">
            <li *ngFor="let item of inventory.items">
              {{ item.itemName }}
            </li>
          </ul>

        </td>

        <td>
          <i class="icofont text-c-black f-16"></i>
          <ul class="m-l-10 d-inline-block f-w-600">
            <li *ngFor="let item of inventory.items">
              {{ item.totalPiece }}
            </li>
          </ul>
        </td>

        <td>
          <i class="icofont text-c-black f-16"></i>
          <p class="m-l-10 d-inline-block f-w-600">{{inventory.inventoryDate}}</p>
        </td>

        <td>
          <i class="icofont text-c-black f-16"></i>
          <p class="m-l-10 d-inline-block f-w-600">{{inventory.totalPriceRs}}</p>
        </td>

        <td>
          <i class="icofont text-c-black f-16"></i>
          <p class="m-l-10 d-inline-block f-w-600" *ngIf="inventory.status == 1">Active</p>
          <p class="m-l-10 d-inline-block f-w-600" *ngIf="inventory.status == 2">Inactive</p>
        </td>

        <td>
          <p class="f-w-600"><i class="icofont icofont-data"></i> {{inventory.created| date:'shortDate'}}</p>
        </td>
        <td>

          <a href="javascript:" (click)="viewInventory(inventory)" data-toggle="tooltip" title="View">
            <i class="icofont icofont-eye-alt text-c-green f-16"></i></a>
          <span>&nbsp;</span>
          <a href="javascript:" (click)="updateInventory(inventory)"   data-toggle="tooltip" title="Edit">
            <i class="icofont icofont-ui-edit text-c-blue f-16"></i></a>

          <a href="javascript:" (click)="deleteInventory(inventory)" data-toggle="tooltip" title="Remove">
            <i class="icofont icofont-ui-delete text-c-pink f-16 m-l-10"></i></a>

        </td>

        </tbody>
      </table>
    </div>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </app-card>


</div>




